.container {
    display: flex;
    width: 500px;
}

.column {
    flex: 0;
    display: flex;
    flex-direction: column;
}

.row {
    background-color: #8ca4b8;
    padding: 4px;
}

.color {
    background-color: #c26cbb;
}